.desplegable-question {
    width: 500px;
    border: 1px solid black;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desplegable-answer {
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
}

.desplegable-answer p {
    margin: 10px;
}

.desplegable-question h2, .icon {
    margin: 10px 10px;
    color: black;
}

.desplegable-question h2 {
    font-size: 1.1em;
}

.icon {
    cursor: pointer;
}


icon {
    color: black;
}