.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    form {
        width: 200px;
        height:250px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
}